<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Dashboard</title>
</head>
<body id="dashboard">
    <header class="dashHeader">
        <%- include("./partials/header.ejs") %>
        <h2> Welcome to your <strong> PlanIt Dashboard</strong></h2>
    </header>
    <div class="dashLayout">
        <div class="dashContainer">
            <div id="locations">
                <h2> | Locations | </h2>
                <div  class="locations">
                    <h5>List of Places You Would Like to Visit</h5>
                </div>
                <div class="map" id="map">
                    <!-- <h3> | Map | </h3> -->
                    <!-- <div id="map"></div> -->
                </div>
            </div>
            <div id="standard">
            <div class="dates">

            </div>
            <div class="weather">

            </div>
            </div>
            <div id="entertainment">
            <div class="events">

            </div>
            <div class="housing">

            </div>
            </div>
        </div>
    </div>
</body>
</html>