<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Welcome to PlanIt Traveling</title>
    <script>
         //Hide the submit button at load
        //=====================
window.onload = function () {
  document.getElementById("verifySubmit").style.visibility = "hidden";
};
    </script>
</head>
<body id="index">

    <!-- Main Modal holding the "sign-up" and "sign-in" modals -->
    <!-- ===================================================== -->
    <div class="container" id="mainModal">
        <h2>Welcome to PlanIt Traveling</h2>
        <h5>We help you plan out your travel for free!<br /> Sign-Up to get started or Sign-In to review your plans</h5> <br />
        <div class="sideBySide">
        <!-- Sign-Up -->
        <!-- ======= -->
        <button class="btn btn-primary" type="button" data-target="#myModalOne" data-toggle="modal">Sign-Up</button>
        <div class="modal" id="myModalOne">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Sign-Up</h3>
                        <form  action="/users" method="POST">
                            <label>First Name:<br />
                            <input type="text" name="fName" id="fName" required> </label>

                            <label>Last Name:<br />
                            <input type="text" name="lName" id="lName" required> </label>

                            <label>Email:<br />
                            <input type="email" name="email" id="email" required></label>

                            <label>Create Password:<br />
                            <input type="password" name="password" id="password" required></label>

                            <label> Verify Password:<br />
                            <input type="password" id="password2"></label>

                            <button type="button" class="btn-secondary" onclick="verifyPass()" id="verifyPassword">Verify Passwords Match </button>

                            <!-- Hidden Submit Until Passwords Match -->
                            <!-- =================================== -->
                            <button type="submit" class="btn-secondary" id="verifySubmit"> Submit </button>
                        </form>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>

        <!-- Sign-In -->
        <!-- ======= -->
        <button class="btn btn-primary" type="button" data-target="#myModalTwo" data-toggle="modal">Sign-In</button>
        <div class="modal" id="myModalTwo">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Sign-In</h3>
                        <form action="/dashboard" method="POST">
                            <label for="email">Username (email):</label>
                            <input type="email" name="email" id="email"> <br />

                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password"> <br />

                            <button class="btn-secondary" type="submit">Sign-In</button>
                        </form>
                    </div>
                        <div class="modal-body">
                        </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>