<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>New User Questionaire</title>
</head>
<body id="questionaire">
    <header>
        <nav>
            <a href="#"><li>
            Previous
            </li></a>
            <li>
                |
            </li>
            <a href="#"><li>
            Next
            </li></a>
        </nav>
    </header>
    
</body>
</html>