html {
    font-family: "Futura", Arial, Helvetica, sans-serif;
    width: 100%;
}
.container, .container2 {
    font-family: "Futura", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 40%;
    margin-left: 29%;
    padding-bottom: 1%;
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     border-radius: 10px;
  box-shadow: 1px 1px 10px #635D5C,
              -1px -1px 10px #635D5C,
              1px -1px 10px #635D5C,
              -1px 1px 10px #635D5C;
}

.container {
  margin-top: 25%;
}

.container2 {
  margin-top: 15%;
}

.modal-header h3 {
  padding-bottom: 8%;
}

.modal-content  {
 text-align: center;
 width: 50%;
    margin-left: 24%;
    margin-top: 30%;
    padding-bottom: 1%;
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     border-radius: 10px;
  box-shadow: 1px 1px 10px beige,
              -1px -1px 10px beige,
              1px -1px 10px beige,
              -1px 1px 10px beige;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0% 1%;
}

.sideBySide button {
  background-color: #635D5C;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

.sideBySide button:hover {
  background-color: beige;
  color: black;
}

.btn-primary {
    margin: 0% 2%;
}

.btn-primary::after {
  text-decoration: none;
  background-color: beige;
}

.btn-secondary {
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

label {
  align-content: left;
}

input {
  width: 100%;
}

table {
  margin: 3% 1%;
  padding: 5% 1%;
}

#dashboard {
  background-color: beige;
  background-repeat: no-repeat;
background-size: 100%;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.dashContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  text-align: center;
  font-family: "Futura", Arial, Helvetica, sans-serif;
}

.dashContainer>div, #locations>div, #entertainment>div {
  width: 50%;
  padding: 5%;
  background-color: #635D5C;
  box-shadow: 1px 1px 10px beige,
              -1px -1px 10px beige,
              1px -1px 10px beige,
              -1px 1px 10px beige;
}

#standard>div{
  box-shadow: 1px 1px 10px black,
              -1px -1px 10px black,
              1px -1px 10px black,
              -1px 1px 10px black;
}

.dashContainer h2, .dashContainer h5 {
  background-color: #635D5C;
  border-radius: 15px;
  color: beige;
}

.dashContainer h2 {
  box-shadow: 1px 1px 10px beige,
              -1px -1px 10px beige,
              1px -1px 10px beige,
              -1px 1px 10px beige;
    width: 100%;
}

#standard h2{
   box-shadow: 1px 1px 10px #635D5C,
              -1px -1px 10px #635D5C,
              1px -1px 10px #635D5C,
              -1px 1px 10px #635D5C;
}

.arriveDate, .leaveDate {
  font-size: 1.2em;
}

.dashContainer h5 {
  margin: 0 auto;
  padding: 2%;
  text-align: center;
  font-size: 1.2em;
}

#locations>div, #entertainment>div, #standard>div{
  width: 42%;
  height: 80%;
  margin: 2% 3% 10% 3%;
  padding: 1% 3% 5% 3%;
  align-content: center;
  border-radius: 15px;
}

#locations h2, #entertainment h2, #standard h2{
  width: 22%;
  margin: 2% 0% 1% 38%;
  padding: 10px;
  align-content: center;
}

.oneLocation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.oneLocation input {
  width: 15%;
  margin: 3% 0% 1% 0%;
  padding: 1%;
  align-self: right;
}
.oneLocation label {
  padding: 0% 1%;
  align-content: left;
}

#map div {
  width: 100%;
  height: 200%;
  background-color: initial;
  box-shadow: initial;
}

header {
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
width: 100%;
 font-family: "futura", Arial, Helvetica, sans-serif;
}

.newUserHeader {
   display:flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
 font-family: "futura", Arial, Helvetica, sans-serif;
 background-color: tan;
}

.newUserHeader nav {
  justify-content: right;
  text-align: center;
  width: 50%;
}

.newUserHeader h3 {
  width: 50%;
}

.newUserHeader a, .newUserHeader li {
  width: 33%;
  text-decoration: none;
}

.budget input, .qSubmit input {
  width: 80%;
}

.dashHeader h2 {
  width: 50%;
  font-size: 1.55em;
  font-family: "futura", Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin:0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-start;
  width: 50%;
 padding: 2% 0%;
}

nav li , nav a , .qSubmit input , #noStyle.btn ,#noStyle.btn-primary {
  font-size: .95em;
  width: 25%;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

nav li {
  text-align: center;
  width: 100%;
  padding: 2px;
}
.qSubmit button {
  border-radius: 15px;
  color: black;
}

nav li:hover, .qSubmit button:hover {
  border-radius: 15px;
  background-color: black;
  color: beige;
}

#locations, #entertainment, #standard, #index, #questionnaire{
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#locations, #entertainment, #standard {
height: 100vh;
}

#standard {
  background-color: tan;
}

.locations {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#locations{
  background-image: url(https://i.imgur.com/HSjpSnf.jpg);
}
#entertainment {
  background-image: url(https://i.imgur.com/gWcHVdp.jpg);
}
#index {
background-image: url(https://i.imgur.com/vsI12Pl.jpg);
}

#questionnaire {
  background-image: url(https://i.imgur.com/AKtCQ7j.jpg);
}

.iterate h5 {
  margin-bottom: 5%;
}

#noStyle.btn ,#noStyle.btn-primary {
  background-color: beige;
  border: none;
  margin:  0% auto;
}

#noStyle.btn li ,#noStyle.btn-primary li {
  margin: -5% 0% 0% 0%;
  text-align: center;
  padding: 2%;
}

#bottomButtons {
  margin-top: 20%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 80%;
}

#dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: beige;
}

.datesTwo {
   background-color: beige;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.datesTwo h5 {
  background-color: beige;
  color: black;
}



/*=============== */
/* Google Map Styling */
/*================*/
#map {
  width: 100%;
  height: 120%;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

.embeddedMap iframe{
  width: 100%;
  height: 100%;
  margin: 5% 0% -3% 0%;
  padding: 0%;
}