html {
    font-family: "Futura", Arial, Helvetica, sans-serif;
    width: 100%;
}
.container, .container2 {
    font-family: "Futura", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 40%;
    margin-left: 29%;
    padding-bottom: 1%;
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     border-radius: 10px;
  box-shadow: 1px 1px 10px #635D5C,
              -1px -1px 10px #635D5C,
              1px -1px 10px #635D5C,
              -1px 1px 10px #635D5C;
}

.container {
  margin-top: 25%;
}

.container2 {
  margin-top: 15%;
}

.modal-header h3 {
  padding-bottom: 8%;
}

.modal-content  {
 text-align: center;
 width: 50%;
    margin-left: 24%;
    margin-top: 30%;
    padding-bottom: 1%;
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     border-radius: 10px;
  box-shadow: 1px 1px 10px #635D5C,
              -1px -1px 10px #635D5C,
              1px -1px 10px #635D5C,
              -1px 1px 10px #635D5C;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0% 1%;
}

.sideBySide button {
  background-color: #635D5C;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

.sideBySide button:hover {
  background-color: beige;
  color: black;
}

.btn-primary {
    margin: 0% 2%;
}

.btn-primary::after {
  text-decoration: none;
  background-color: beige;
}

.btn-secondary {
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

label {
  align-content: left;
}

input {
  width: 100%;
}

table {
  margin: 3% 1%;
  padding: 5% 1%;
}

#dashboard {
  background-color: beige;
  background-repeat: no-repeat;
background-size: 100%;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.dashContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
}

.dashContainer div {
  width: 50%;
  padding: 5%;
  background-color: #635D5C;
}

#locations div, #entertainment div, #standard div{
   width: 42%;
   margin: 3%;
  padding: 5%;
}

header {
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
width: 100%;
 font-family: "futura", Arial, Helvetica, sans-serif;
}

.newUserHeader {
   display:flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
 font-family: "futura", Arial, Helvetica, sans-serif;
 background-color: tan;
}

.newUserHeader nav {
  justify-content: center;
  width: 50%;
}

.newUserHeader h3 {
  width: 25%;
}

.dashHeader h2 {
  width: 50%;
  font-size: 1.55em;
  font-family: "futura", Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin:0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-start;
  width: 50%;
 padding: 2% 0%;
}

nav li , nav a{
  font-size: .95em;
  width: 25%;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

nav li {
  text-align: center;
  width: 100%;
  padding: 2px;
}

nav li:hover {
  border-radius: 15px;
  background-color: black;
  color: beige;
}

#locations, #entertainment, #standard, #index{
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#standard {
  background-color: beige;
}

#locations{
  background-image: url(https://i.imgur.com/HSjpSnf.jpg);
}
#entertainment {
  background-image: url(https://i.imgur.com/gWcHVdp.jpg);
}
#index {
background-image: url(https://i.imgur.com/vsI12Pl.jpg);
}